{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Agent41.org</h5>
        <span class="text-muted">Register More Apartment Make More Money </span>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container mt-3" align="center">
    <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
        <div class="card-body">
                 <img src={{profile.image.url}} alt="..." width="100" height="100" class="rounded-circle"><br>
                <b><font style="color: #b0b0b0; font-size: 20px;">{{profile.user}}</font></b><br>
            <b><font style="color: #b0b0b0; font-size: 20px;">{{profile.full_name}}</font></b><br>
             <b><font style="color: #b0b0b0; font-size: 20px;">{{profile.phone}},{{profile.whatsapp}} </font></b><br>
            <font style="color: #fff; font-size: 20px;">{{profile.Address}}</font><br>
<a class="bg-primary btn-sm" style="color: white;"  href="{% url 'edit_landlord_profile' %}">Edit Profile</a>





</div>

    </div>
</div>
</div>

{% endblock content %}
