{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Agent41.org</h5>
    <span class="text-muted">Connect you to better clients</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<div class="container mt-3" align="center" >
<div class="card text-white bg-dark mb-3" style="max-width: 60rem; min-width: 18rem;">
  <div class="card-header"> <h5>Apartment Photos</h5></div>
  <div class="card-body">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" align="center">
  <div class="carousel-inner">
    <div class="carousel-item active">
         <span class="position-absolute badge rounded-pill bg-info">
        1/4 Photos </span>
      <img src={{apartment.font_image.url}}
           class="img-fluid"
            alt="...">
    </div>


    <div class="carousel-item">
        <span class="position-absolute badge rounded-pill bg-info">
        2/4 Photos </span>
      <img src={{apartment.side_image.url}}  class="img-fluid" style="max-height:500px;" alt="...">
    </div>

    <div class="carousel-item">
       <span class="position-absolute badge rounded-pill bg-info">
        3/4 Photos </span>
      <img src={{apartment.other_image.url}}  class="img-fluid" style="max-height:500px;" alt="...">
    </div>

     <div class="carousel-item">
       <span class="position-absolute badge rounded-pill bg-info">
        4/4 Photos </span>
      <img src={{apartment.other_image2.url}}  class="img-fluid" style="max-height:500px;" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
   </div>
  </div>
</div>


  <div> <h4 class=" text-info">{{apartment.name}}</h4></div>

      <div class="col">
          <h6 class="text-dark">{{apartment.type}}</h6>
      </div>
      <div class="col">
          <h5 class="text-dark"><b>Price: ₦ {{ apartment.price }}</b></h5>
      </div>

       <div class="col">
           {% if apartment.negotiable == True %}
        <h4 class="  badge rounded-pill bg-info">
              Negotiable
        </h4>
           {% else %}
       <h4 class="  badge rounded-pill bg-danger">
              Non Negotiable
        </h4>
           {% endif%}

      </div>


     <div class="row" align="center">
      <div class="col">
          <h6><b>Power Status</b></h6>
          <h6 class="text-primary">{{apartment.power}}</h6>

      </div>
      <div class="col">
          <h6><b>Water Status</b></h6>
          <h6 class="text-primary">{{ apartment.water}}</h6>
      </div>

     </div>

  <div class="card border-dark mb-3" style="max-width: 60rem; min-width: 18rem;" align="center">

  <div class="card-header"> <h5>Location Details</h5></div>
  <div class="card-body">
  <div class="row">
      <div class="col">
          <h6><b>State</b></h6>
          <h6 class="text-dark">{{apartment.state}}</h6>

      </div>
      <div class="col">
          <h6><b>City</b></h6>
          <h6 class="text-dark">{{ apartment.city }}</h6>
      </div>

       <div class="col">
           <h6><b>Location</b></h6>
          <h6 class="text-dark">{{ apartment.location }}</h6>
      </div>
  </div>
 <div class="row" align="center">
           <h6><b>Address</b></h6>
          <h6 class="text-dark">{{ apartment.Address }}</h6>
 </div>
  </div>
</div>



 <div class="card border-dark mb-3" style="max-width: 60rem; min-width: 18rem;" align="center">

  <div class="card-header"> <h5>Apartment Description</h5></div>
  <div class="card-body">
        {{apartment.description}}
  </div>
 </div>

<div class="d-grid gap-2 col-6 mx-auto">
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Edit Apartment</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-danger" for="btnradio2">Delete Apartment</label>
</div>
</div><br>

 <div class="card text-white bg-dark mb-3" style="max-width: 25rem;"  align="center" >

  <div class="card-header"> <h5><b>Landlord</b><br>
                             {{profile.full_name}}</h5></div>
  <div class="card-body">
     <div class="row" align="center">
      <div class="col">
          <h6><b>Phone</b></h6>
          <h6 class="text-info">{{profile.phone}}</h6>
          <h6><b>WhatsApp</b></h6>
          <h6 class="text-info">{{profile.whatsapp}}</h6>
      </div>
      <div class="col">
           <img src={{profile.image.url}} alt="..." width="100" height="100" class="rounded-circle">

          <button type="button" class="btn btn-outline-primary mt-3">Edit Profile</button>
      </div>

     </div>
  </div>
 </div>

</div><br><br>
 <div align="center" style="
   position:relative;
   bottom:0;
   width:100%;
   height:400px;   /* Height of the footer */
   background:#272829;">
         <br><br>
    <p class=""><font style="color:#fff; font-size:18px; font-style: oblique;">Get The Best <b style="color:#0a53f2;">Apartment</b> <br> Search Experiences<br> We are With You till You
        <br>Get Your  <b style="color:#0a53f2;" > Taste </b></font></p>
    <p><font style="color:#fff;">All Right Reserved agent41.org &#169; 2021</font></p>
</div>
{% endblock content %}